div.Questions
{
  div.summary
  {
    h1
    {
      color: nth($colors-secondary, 1);
      font-size: 2vw;
    }
    p
    {
      font-style: italic;
    }
    margin-bottom: 20px;
  }

  div.ask
  {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: rgba(65,65,65,0.5);

  }

  table
  {
    width: 100%;
    table-layout: fixed;
    border-spacing: 15px;

    h3
    {
        color: nth($colors-secondary, 4);
    }
    p
    {
      font-size: 8px;
      font-style:italic;
    }

    thead td
    {
      padding-bottom: 15px;
    }

    tbody td
    {
      margin-top: 15px;
      padding: 5px;
      line-height:30px;
      a
      {
        color: $color-back;
        text-decoration: none;
      }
      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
      background-color: nth($colors-secondary, 4);
      border-radius: 2px;
    }

    tbody td+td
    {

      background-color: nth($colors-secondary, 5);
    }
  }
}