div.Register
{
  h1{
    color: nth($colors-secondary, 4);
    margin-bottom: 15px;
  }

  span.error
  {
    display: block;
    width: 100%;
    color: $color-back !important;
  }

  span
  {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
  font-weight: bold;

    &:nth-of-type(2n)
    {
      color: nth($colors-secondary, 2);
    }

    &:nth-of-type(2n+1)
    {
      color: nth($colors-secondary, 1);
    }
  }

  input[type=submit]
  {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
  }

  table
  {
    table-layout: fixed;
  }

  table tbody td {
    width: 4%;
    margin-top: 15px;
    padding: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    color: $color-back;
    background-color: #16A6B6;
    border-radius: 2px; }
  table tbody td a {
    color: $color-back;
    text-decoration: none; }

}