div.Services
{
  h2
  {
    color: nth($colors-secondary, 5);
    margin-bottom: 15px;
  }

  button
  {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  div
  {
    background-color: nth($colors-secondary, 4);
    color: $color-back;
    border-radius: 2px;
    margin: 5px;
    padding: 15px;

    a{
      color: $color-back;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
    }
  }

  height: auto;
}