div.Service
{
  h2
  {
    color: nth($colors-secondary, 4);
    margin-bottom: 15px;
  }

  p
  {
    white-space: normal;
    word-break: break-all;
  }

  span
  {
    &:nth-of-type(2n)
    {
      color: nth($colors-secondary, 1);
    }

    &:nth-of-type(2n+1)
    {
      color: nth($colors-secondary, 2);
    }

    &:nth-of-type(2n+2)
    {
      color: nth($colors-secondary, 3);
    }

    &:nth-of-type(2n+3)
    {
      color: nth($colors-secondary, 4);
    }

    &:nth-of-type(2n+4)
    {
      color: nth($colors-secondary, 5);
    }
  }

  span.error
  {
    color: $color-back;
  }

  a.ok
  {
    background-image: url("/Static/Images/validate_black.svg");
    color: #3E3939;
  }

  a.report
  {
    background-image: url("/Static/Images/report_black.svg");
    color: #3E3939;
  }
  div.action
  {
    text-align: center;
    button
    {
      display: inline-block;
      margin: 5px;
      width: auto;
    }
  }
}