{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<br/>
 
<h1>ADMINISTRATION</h1>


<nav>
	<div class='onglet'><a href="/Admin?action=displayCreateSubject"><button type="button">Créer un sujet</button></a></div>
	<div class='onglet'><a href="/Admin?action=displayDeleteSubject"><button type="button">Supprimer un sujet</button></a></div>
	<div class='onglet'><a href="/Admin?action=displayDeleteQuestion"><button type="button">Supprimer une question</button></a></div>
	<div class='onglet'><a href="/Admin?action=displayDeleteResponse&subjectId=NULL&questionId=NULL&responseId=NULL"><button type="button">Supprimer une réponse</button></a></div>
</nav>


