{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<br/>
 
<div class="Content">
	<div class="Admin">
		<h1>Administration</h1>
		<span class="error">{{info}}</span>

		<div class="action">
			<a href="/Admin?action=displayCreateStatut"><button type="button">Créer un statut</button></a>
			<a href="/Admin?action=displayDeleteStatut"><button type="button">Supprimer un statut</button></a>
			<a href="/Admin?action=displayCreateSubject"><button type="button">Créer un sujet</button></a>
			<a href="/Admin?action=displayDeleteSubject"><button type="button">Supprimer un sujet</button></a>
			<a href="/Admin?action=displayUsers"><button type="button">Administrer utilisateurs</button></a>
		</div>

		<br/>
		<table>
			<tr>
				<td>
					<table>
						<thead>
						<tr>
							<td>Questions signalées</td>
						</tr>
						</thead>
						<tbody>
						{{#questions}}
						<tr>
							<td>
								<a href="/Question?action=displayQuestionContent&subjectId={{subject_id}}&questionId={{id}}&info=NULL">{{title}}</a>
							</td>
						</tr>
						{{/questions}}
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<thead>
						<tr>
							<td>
								Réponses signalées
							</td>
						</tr>
						</thead>
						<tbody>
						{{#responses}}
						<tr>
							<td>
								<a href="/Question?action=displayQuestionContent&subjectId={{subject_id}}&questionId={{question_id}}&info=NULL#{{id}}">{{content}}</a>
							</td>
						</tr>
						{{/responses}}
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<thead>
						<tr>
							<td>
								Services signalés
							</td>
						</tr>
						</thead>
						<tbody>
						{{#services}}
						<tr>
							<td>
								<a href="Service?action=displayService&serviceId={{id}}">{{name}}</a>
							</td>
						</tr>
						{{/services}}
						</tbody>
					</table>
				</td>
			</tr>
		</table>


	</div>
</div>


