<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{__title}}</title>
    <link rel="stylesheet" href="/Static/main.css">
</head>
<body>
    <header>
        <h1>Solidarité</h1>
        <nav>
        {{=disconnected}}
            <a href="/Login">Se connecter</a>
            <a href="/Register">S'enregistrer</a>
        {{/disconnected}}
        {{=connected}}
           <a href="/Login?action=logout">Logout</a>
        {{/connected}}
            <a href="/Default">Acceuil</a>
            <a href="/Question?action=displayQuestions&subjectId=NULL&questionId=NULL">Questions</a>
            <a href="/Service?action=displayServices">Services</a>
        </nav>
    </header>
