<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="latin1">
    <title>{{__title}}</title>
	<link rel="stylesheet" href="/Static/main.css">

</head>
<body>
<header>
	<h1>Solidarité - Administration</h1>
	<nav>
		<a href="/Login?action=logout">Logout</a>
		<a href="/Default">Accueil</a>
		<a href="/Question?action=displayQuestions&subjectId=NULL&questionId=NULL&info=NULL">Questions</a>
		<a href="/Service?action=displayAllServices">Services</a>

		<a href="/Admin&info=NULL">Partie Admin</a>
	</nav>
</header>
