<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{__title}}</title>
</head>
<body>
<nav>
	<div class='onglet'><a href="/Login?action=logout"><button type="button">Logout</button></a></div>
	<div class='onglet'><a href="/Default"><button type="button">Index</button></a></div>
	<div class='onglet'><a href="/Question?action=displayQuestions&subjectId=NULL&questionId=NULL"><button type="button">Questions</button></a></div>
	<div class='onglet'><a href="/Admin"><button type="button">Partie Admin</button></a></div>
</nav>
