{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">
	<h1 style="color: #843A53;">Bienvenue sur la plateforme d'entraide citoyenne de la commune de Bègle !</h1>
	<br><br>
	<div>
		<p>
			Cette plateforme vise à favoriser l'esprit citoyen de la charmante commune de Bègle.
			Ce site propose deux fonctionnalitées majeures:<br><br>
		</p>

			<h2 style="color: #16A6B6;">Questions sur la vie de la commune</h2>
			<p>
				Accessible en cliquant sur le lien "Questions" visible en haut de page, vous pourrez y poser vos questions sur la commune, et obtenir des réponses de vos voisins et des services de la mairie !
			</p>

			<br><br>
			<h2 style="color: #EF7009;">Services Citoyens</h2>
			<p>
				Accessible en cliquant sur le lien "Services" visible en haut de page, vous pourrez obtenir des informations sur les services proposés par vos voisins ou la mairie et vous y inscrire.
			</p>

	</div>
</div>


{{@footer}}