{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}



<div class="Content">
    <div class="Login">
        <h1 class='titre'>Connectez-vous pour accéder à l'ensemble de nos services !</h1>

        <form action="/Login?action=login" method="POST">
            <h2>Identifiant :</h2>
          <input type="text" name="username" placeholder="prénom.nom">
            <h2>Mot de passe :</h2>
          <input type="password" name="password"><br>
          <input type="submit" value="login"><br>
        </form>
        {{info}}
    </div>
</div>



{{@footer}}
