{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">


	<div class="Question">
		<div class="question">
			{{#questions}}
				<div>
					<h2>{{title}}</h2>
					<span>par <b>{{user}}</b></span>
					<br/>
					<span>{{datee}}</span>
				</div>
				<p>{{content}}</p>
				<p><a href="/Question?action=likeQuestion&subjectId={{subject_id}}&questionId={{question_id}}">J'aime</a></p>
				{{=isreported}}
				    <p><a href="/Question?action=reportQuestion&subjectId={{subject_id}}&questionId={{question_id}}">Reporter</a></p>
				{{/isreported}}
			{{/questions}}
		</div>

		<div class="reponses">
			{{#responses}}
				<div class="reponse">
					<span>{{username}}</span>
					<br/>
					<span>{{datee}}</span>
					<p>{{content}}</p>
					<p><a href="/Question?action=likeResponse&subjectId={{subject_id}}&questionId={{question_id}}&responseId={{id}}">J'aime</a></p>
					{{=isreported}}
						<p><a href="/Question?action=reportResponse&subjectId={{subject_id}}&questionId={{question_id}}&responseId={{id}}">Reporter</a></p>
					{{/isreported}}
				</div>
			{{/responses}}
			<form action="/Question?action=createResponse&questionId={{question_id}}" method="POST">
				<h2>Votre réponse</h2>
				<textarea name="content" rows="10" cols="50" placeholder="Répondez ici..."></textarea><br>
				<input type="submit" value="Envoyer"><br>
			</form>
		</div>
	</div>

</div>