{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">


	<div class="Question">
		<div class="question">
			{{#questions}}
				<div>
					<h2>{{title}}</h2>
					<span>par <b>{{user}}</b></span>
				</div>
				<p>{{content}}</p>
			{{/questions}}
		</div>

		<div class="reponses">
			{{#responses}}
				<div class="reponse">
					<span>{{username}} dit :</span>
					<p>{{content}}</p>
				</div>
			{{/responses}}
			<form action="/Question?action=createResponse&questionId={{question_id}}" method="POST">
				<h2>Votre réponse</h2>
				<textarea name="content" rows="10" cols="50" placeholder="Répondez ici..."></textarea><br>
				<input type="submit" value="Envoyer"><br>
			</form>
		</div>
	</div>

</div>