{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">

	<div class="Questions">
		<div class="summary">
			<h1>Questions</h1>
			<p>
				Bienvenue dans la section "Questions". Posez ici vos questions en rapport avec la vie au sein de la communauté, et retrouvez les interrogations posées par vos voisins.
			</p>
		</div>
		<div class="ask">
			<a href="/Question?action=displayCreateQuestion"><button>Poser une question</button></a>
		</div>
		<table>
			<thead>
				<td>
					<h3>1. Sujets</h3>
					<p>(Cliquez sur un sujet pour afficher les questions en rapport)</p>
				</td>
				<td>
					<h3>2. Questions</h3>
					<p>(Cliquez sur une question pour accéder à ses réponses)</p>
				</td>
			</thead>
			<tr>
				<td>
					{{#subjects}}
						<a href="/Question?action=displayQuestions&subjectId={{id}}&questionId=NULL">{{name}}</a>
						<br/>
					{{/subjects}}
				</td>
				<td>
					{{#questions}}
						<a href="/Question?action=displayQuestionContent&subjectId={{subject_id}}&questionId={{id}}">{{title}}</a>
						<br/>
					{{/questions}}
				</td>
			</tr>
		</table>
		<br/>

	</div>

</div>