{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<br/>

<p>Questions sur ce sujet :</p>

<table>
	<tr>
		<td>
			{{#subjects}}
				<a href="/Question?action=displayQuestions&subjectId={{id}}&questionId=NULL">{{name}}</a>
				<br/>
			{{/subjects}}
		</td>
		<td>
			{{#questions}}
				<a href="/Question?action=displayQuestionContent&subjectId={{subject_id}}&questionId={{id}}">{{title}}</a>
				<br/>
			{{/questions}}
		</td>
	</tr>
</table>
<br/>
<a href="/Question?action=displayCreateQuestion"><button type="button">Poser une question</button></a>
<a href="/Default"><button type="button">Retour</button></a>