{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}


<div class="Content">
	<span class="error">{{info}}</span>

	<div class="Question">
		<div class="question">
				<div>
					<h2>{{question_title}}</h2>
					<span>par <b>{{question_user}}</b></span>
					<br/>
					<span>{{question_date}}</span>
				</div>
				<p>{{question_content}}</p>
				<p><a class="report" href="/Question?action=reportQuestion&subjectId={{subject_id}}&questionId={{question_id}}">Reporter</a></p>
				{{=admin}}
				<p>
					<a class="delete" href="/Admin?action=deleteQuestion&questionId={{question_id}}">Supprimer</a>
				</p>
				<p><a class="ok" href="/Admin?action=validateQuestion&subjectId={{subject_id}}&questionId={{question_id}}"> Valider</a></p>
				{{/admin}}
		</div>

		<div class="reponses">
			{{#responses}}
				<div class="reponse" id="{{id}}">
					<span>{{username}}</span>
					<br/>
					<span>{{datee}}</span>
					<p>{{content}}</p>
						<p><a class="report" href="/Question?action=reportResponse&subjectId={{subject_id}}&questionId={{question_id}}&responseId={{id}}">Reporter</a></p>
					{{=admin}}
					<p><a class="delete" href="/Admin?action=deleteResponse&responseId={{id}}">Supprimer</a></p>
					<p><a class="report" href="/Admin?action=validateResponse&subjectId={{subject_id}}&questionId={{question_id}}&responseId={{response_id}}">Valider</a></p>
					{{/admin}}
				</div>
			{{/responses}}
			<form action="/Question?action=createResponse&questionId={{question_id}}" method="POST">
				<h2>Votre réponse</h2>
				<textarea name="content" rows="10" cols="50" placeholder="Vous pouvez répondre ici..."></textarea><br>
				<input type="submit" value="Envoyer"><br>
			</form>
		</div>
	</div>
</div>