{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<div class="Content">

	<div class="Questions">
		<div class="summary">
			<h1>Questions</h1>
			<p>
				Bienvenue dans la section "Questions". Posez ici vos questions en rapport avec la vie au sein de la communauté, et retrouvez les interrogations posées par vos voisins.
			</p>
		</div>
		<span class="error">{{info}}</span>
		<div class="ask">
			<a href="/Question?action=displayCreateQuestion&info=NULL"><button>Poser une question</button></a>
		</div>

		<nav>
			<center>
				{{#subjects}}
					<a href="/Question?action=displayQuestions&subjectId={{id}}&questionId=NULL&info=NULL">{{name}}</a>
				{{/subjects}}
			</center>
		</nav>
		<div>
			<table>
				<thead>
					<tr>
						<td>
							Questions: {{subject_name}}
						</td>
					</tr>
				</thead>
				<tbody>
				{{#questions}}
					<tr>
						<td>
							<a href="/Question?action=displayQuestionContent&subjectId={{subject_id}}&questionId={{id}}&info=NULL">{{title}}</a>
						</td>
					</tr>
				{{/questions}}
				</tbody>
			</table>

		</div>
	</div>

</div>