{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<div class="Content">
  <div class="Register">
    <h1>Créer votre compte</h1>

      <span class="error">{{info}}</span>

      <form action="/Register?action=newRegister" method="POST">
        <span>Prénom</span>* :<br>
      <input type="text" name="firstname"><br>
        <span>Nom</span>* :<br>
      <input type="text" name="lastname"><br>
        <span>E-mail</span>:<br>
       <input type="text" name="email"><br>
        <span>N° de téléphone</span>:<br>
      <input type="text" name="phone" /><br><br>
      Vous pouvez préciser l'un ou l'autre (email ou téléphone). Mais la précision d'au moins une possibilité de contact est obligatoire.<br>
      (Ces informations seront utilisées pour vous contacter suite à vos inscriptions aux services, et ne seront pas diffusées.)<br><br>

          Sélectionnez dans la liste de cases à cocher ci-dessous les attributs qui correspondent à votre situation.<br>
          <span> Status :</span> <br>
          {{#status}}
          <input type="checkbox" name="Statut_{{id}}" value="{{id}}"> {{name}}
          {{/status}}
          <br><br>
          <span>Créez un mot de passe</span>* :<br>
      <input type="password" name="password"><br>
        <span>Confirmez votre mot de passe</span>* :<br>
      <input type="password" name="password_confirm"><br>
      Les champs marqués d'une * sont obligatoires.<br>
      <input type="submit" value="Créer"><br>
    </form>
  </div>
</div>
{{@footer}}
