{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">

	<div class="Service">
		{{=user}}
			{{#service}}
		<h2>Service: {{name}}</h2>
		<p><span>Description:</span> {{description}}</p>
		<p><span>A débuté le:</span> {{date_s}}</p>
		<p><span>Se termine le:</span> {{date_e}}</p>
				{{=is_registred}}
					<a href="/Service?action=registerService&serviceId={{id}}"><button type="button">Inscrire</button></a>
				{{/is_registred}}
				{{=not_registred}}
					<a href="/Service?action=deleteUserService&serviceId={{id}}"><button type="button">Désinscrire</button></a>
				{{/not_registred}}

			{{/service}}
		{{/user}}
		
		{{=admin}}
			{{#service}}
		<h2>Service: {{name}}</h2>
		<p><span>Description:</span> {{description}}</p>
		<p><span>A débuté le:</span> {{date_s}}</p>
		<p><span>Se termine le:</span> {{date_e}}</p>
		<div class="action">
				<a href="/Service?action=updateService&serviceId={{id}}"><button type="button">Modifier</button></a>
				<a href="/Service?action=deleteService&serviceId={{id}}"><button type="button">Supprimer</button></a>
				<a href="/Service?action=displayUsers&serviceId={{id}}"><button type="button">Users inscrit</button></a>
		</div>
			{{/service}}
		{{/admin}}	

	</div>

</div>