{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">

	<div class="Services">
		{{=user}}
			{{#services}}
				<a href="/Service?action=displayService&serviceId={{id}}">{{name}}</a>
				<br>
			{{/services}}
		{{/user}}
		
		{{=admin}}
		    <a href="/Service?action=newService"><button type="button">Ajouter</button></a>
		    <br>
			{{#services}}
				<a href="/Service?action=displayService&serviceId={{id}}">{{name}}</a>
				<br>
			{{/services}}
		{{/admin}}
						
	</div>

</div>