{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}

<div class="Content">

	<div class="Services">
		<h2>Liste des services</h2>
		<p>Ci-dessous se trouve la liste des services pouvant correspondre à votre situation. En cliquant sur un service, vous pouvez obtenir plus d'informations sur celui-ci. Un bouton "s'inscrire" permet de spécifier au créateur du service que vous souhaiter en bénéficier.</p>
		<a href="/Service?action=newService"><button type="button">Ajouter</button></a>
		{{=user}}
			{{#services}}
				<div class="service">
					<a href="/Service?action=displayService&serviceId={{id}}">{{name}}</a>
				</div>
			{{/services}}
		{{/user}}
						
	</div>

</div>