{{@header}}
    <h1>{{name2}}</h1>

    {{name}}<br>
    {{name1}}<br>
    {{name2}}<br>

    <table border="1">
        <tr>
            <td>Name</td><td>Surname</td>
        </tr>
        {{#people}}
            <tr>
                <td>{{name}}</td><td>{{surname}}</td><td>{{name2}}</td>
            </tr>
        {{/people}}
    </table>

    {{=false}}
        <h2>JE SUIS FAUX {{name2}}</h2>
        {{=true}}
        <h2>Je SUIS VRAI inside</h2>
        {{/true}}

    {{/false}}

    {{=true}}
        <h2>Je SUIS VRAI outside</h2>
        {{=false}}
            <h2>JE SUIS FAUX {{name2}}</h2>

        {{/false}}
    {{/true}}

{{@footer}}