{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<div class="Content">
  <div class="Register">
    <h1>Modifier le service: {{service_name}}</h1>


    <form action="/Service?action=updateInfoService&serviceId={{service_id}}" method="POST">
      <span>Nom</span> :<br>
      <input type="text" name="name" value="{{service_name}}"><br>
      <span>Description</span> :<br>
      <input type="text" name="description" value="{{service_description}}"><br>
        <span>Catégorie</span> : <br>
          {{service_category_id}}<br>
        <span>Status actuels</span>:<br>
          {{#status}}
               <input type="checkbox" name="Statut_{{id}}" value="{{id}}" {{checked}} {{disabled}}> {{name}}
          {{/status}}
      <br>
        <span>Date début</span>:<br>
        {{service_date_start}}<br>
        <span>Date fin</span>:<br>
        <input type="date" name="date_end" value="{{service_date_end}}"><br>
      <input type="submit" value="Mettre à jour"><br>
    </form>
  </div>
</div>

{{@footer}}
