{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<br/>

{{#service}}
    <h1 class='titre'>Modifier le service: {{name}}</h1>

    <form action="/Service?action=updateInfoService" method="POST">
      Nom :<br>
      <input type="text" name="name" value="{{name}}"><br>
      Description :<br>
      <input type="text" name="description" value="{{description}}"><br>
      <p> Catégorie : <br> 
        {{category_id}} 
      </p>
      <br>            
      Date début :<br>
      <p> {{date_start}} </p>
      <br>
      Date fin :<br>
      <input type="date" name="date_end" value="{{date_end}}" ><br>
      <input type="submit" value="Mettre à jour"><br>
    </form>
{{/service}}

<a href="/Service?action=displayService&serviceId={{id}}"><button type="button">Retour</button></a>

{{@footer}}
