{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<br/>


    <h1 class='titre'>Modifier le service: {{service_name}}</h1>

    <form action="/Service?action=updateInfoService" method="POST">
      Nom :<br>
      <input type="text" name="name" value="{{service_name}}"><br>
      Description :<br>
      <input type="text" name="description" value="{{service_description}}"><br>
      <p> Catégorie : <br> 
        {{service_category_id}} 
      </p>
      <br>  
      <span> Status actuels: </span> <br>
        {{#statuss}}
          {{=registred}}
            {{name}}
          {{/registred}}
          {{=notregistred}}
             <input type="checkbox" name="Statut_{{id}}" value="{{id}}"> {{name}}
          {{/notregistred}}
        {{/statuss}}
      <br>         
      Date début :<br>
      <p> {{service_date_start}} </p>
      <br>
      Date fin :<br>
      <input type="date" name="date_end" value="{{service_date_end}}" ><br>
      <input type="submit" value="Mettre à jour"><br>
    </form>
<a href="/Service?action=displayService&serviceId={{service_id}}"><button type="button">Retour</button></a>



{{@footer}}
