{{=admin}}
	{{@headerAdmin}}
{{/admin}}
{{=user}}
	{{@headerUser}}
{{/user}}
<div class="Content">
    <div class="DisplayUser">
    <h1>Liste des utilisateurs inscrit au service:<br><a href="/Service?action=displayService&serviceId={{id}}">{{name}}</a> </h1>

    <table>
        <thead>
            <tr>
                <td>Nom</td><td>Prénom</td><td>Email</td><td>Phone</td>
            </tr>
        </thead>
        <tbody>
      {{#users}}
          <tr>
              <td>{{lastname}}</td><td>{{firstname}}</td><td>{{email}}</td><td>{{phone}}</td>
          </tr>
      {{/users}}
        </tbody>
    </table>
    </div>
</div>
{{@footer}}
