@import "vendor/Museo";
@import "vendor/Aspira";

// Définition des polices
$font-base: 'Museo', sans-serif;
$font-high:  'Aspira-DEMO',sans-serif;


// Définition des couleurs
$color-primary : #E8554E;
$color-back: #F6F7F0;

$colors-secondary :
  #843A53,
  #208BC9,
  #6D9D60,
  #16A6B6,
  #EF7009;






