// Importation de la charte graphique
@import "Chart";

// Importing Components
@import "Components/Header";
@import "Components/Footer";
@import "Components/Content";
@import "Components/Questions";
@import "Components/Questiond";
@import "Components/CreateQuestion";
@import 'Components/Nav';
@import 'Components/Login';
@import 'Components/Service';
@import 'Components/Services';
@import 'Components/Register';
@import 'Components/DisplayUser';
@import 'Components/Admin';


*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  position: relative;
  min-height: 100%;
}

body
{

  background-color: $color-back;
  background-image: url('http://www.pessac.fr/sites/all/themes/pressblog/images/bg-site.gif');
  font-family: $font-base;
  color: #3E3939;
}

button, input[type=button], input[type=submit]
{

  margin: 5px;
  border: 1px solid rgba(56,56,56,0.3);
  background-color: #F6F7F0;
  border-radius: 2px;
  padding: 5px;
}

span.error
{
  display: block;
  background-color: nth($colors-secondary, 5);
  padding: 5px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 2px;
  padding:  0px;
  text-align:center;
  color: $color-back;
  font-weight: bold;
}

a.ok
{
  background: url("/Static/Images/validate.svg");
  background-size: contain;
  background-repeat:no-repeat;
  display: inline-block;
  height :32px;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 36px;
  color: white;
}

a.report
{
  background: url("/Static/Images/report.svg");
  background-size: contain;
  background-repeat:no-repeat;
  display: inline-block;
  height :32px;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 32px;
  color: white;
}

a.delete
{
  background: url("/Static/Images/delete.svg");
  background-size: contain;
  background-repeat:no-repeat;
  display: inline-block;
  height :32px;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 32px;
  color: $color-back;
}

td {
  a.delete {
    float: right;
  }

  a.ok
  {
    float: right;
  }
}

textarea
{
  width: 90%;
  min-height:200px;
  resize: none;
}

table
{
  thead
  {
    td
    {
      color: $color-back;
      font-size: 25px;
      background-color: nth($colors-secondary, 1);
    }
  }
}