// Importation de la charte graphique
@import "Chart";

// Importing Components
@import "Components/Header";
@import "Components/Footer";
@import "Components/Content";
@import "Components/Questions";
@import "Components/Questiond";
@import "Components/CreateQuestion";
@import 'Components/Nav';

*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  position: relative;
  min-height: 100%;
}

body
{
  background-color: $color-back;
  background-image: url('http://www.pessac.fr/sites/all/themes/pressblog/images/bg-site.gif');
  font-family: $font-base;
  color: #3E3939;
}

button, input[type=button], input[type=submit]
{
  margin: 5px;
  border: 1px solid rgba(56,56,56,0.3);
  background-color: #F6F7F0;
  border-radius: 2px;
  padding: 5px;
}